div.image_box
{
	border        : 2px solid #000;
	border-radius : 25px;
	padding       : 10px;
	display       : inline-block;
	text-align    : center;
	margin        : 2px;
}

div.group_header
{
	font-size:1.5em;
}