<!doctype html>


<html>

	<head>
		<meta charset = "utf-8">
		<title>Genetic Algorithm Plotter</title>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{
		  url_for('static', filename='jquery-2.1.1.min.js') }}">\x3C/script>')</script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

		<style>
			.selectable .ui-selecting { background: #FECA40; }
			.selectable .ui-selected { background: #F39814; color: white; }
			.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
			.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
		</style>

		<script>
			$(function() {
				$( ".selectable" ).selectable();
			});
		</script>

	</head>

	<body>
		<h3>Networks</h3>
		<div>
			<ol class="selectable">
			{% for idx, txt in get_networks() %}
				<li class="ui-widget-content">{{ txt }}</li>
			{% endfor %}
			</ol>
		</div>
		<h3>Trails</h3>
		<div>
			<ol class="selectable">
			{% for idx, txt in get_trails() %}
				<li class="ui-widget-content">{{ txt }}</li>
			{% endfor %}
			</ol>
		</div>

	</body>

</html>

