{% extends "base.html" %}

{% block title %}
Run Configuration {{ run_id }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.tablesorter.pager.css') }}">
{% endblock %}


{% block navbar %}
<ol class="breadcrumb navbar-fixed-top" role="navigation">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active">Run Configuration {{ config_id }}</li>
</ol>
{% endblock %}

{% block header_text %}
Run Configuration {{ config_id }} <small>Used for {{ num_runs }} runs</small>
{% endblock %}

{% block content %}
<h2>Configuration</h2>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Network Name</dt>
                <dd><a href="{{ url_for('network_by_id', network_id=run_config['networks_id']) }}">{{ network_name }}</a></dd>
            <dt>Trail Name</dt>
                <dd><a href="{{ url_for('trail_by_id', trail_id=run_config['trails_id']) }}">{{ trail_name }}</a></dd>
            <dt>Mutate Type</dt>
                <dd><a href="http://deap.gel.ulaval.ca/doc/dev/api/tools.html#deap.tools.{{ mutate_name }}" target="_blank">{{ mutate_name }}</a></dd>
            <dt>Generations</dt>
                <dd>{{ run_config["generations"] }}</dd>
            <dt>Population</dt>
                <dd>{{ run_config["population"] }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Moves Limit</dt>
                <dd>{{ run_config["moves_limit"] }}</dd>
            <dt>Elite/Hall of Fame</dt>
                <dd>{{ run_config["elite_count"] }}</dd>
            <dt>P(Mutate)</dt>
                <dd>{{ run_config["p_mutate"] }}</dd>
            <dt>P(Crossover)</dt>
                <dd>{{ run_config["p_crossover"] }}</dd>
            <dt>Weight</dt>
                <dd>[{{ run_config["weight_min"] }}, {{ run_config["weight_max"] }}]</dd>
        </dl>
    </div>
</div>

<h2>Charts</h2>
<div class="row">
    {% for idx in range(group_images_l|count) %}
    <div class="col-md-6" id="box{{idx}}">

        <div id="image{{idx}}">
            <h3>{{ group_images_l[idx]["title"] }}</h3>
            <img src="data:image/svg+xml;base64,{{ group_images_l[idx]["data"] }}" class="img-responsive" />
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-default"><a href="{{ group_images_l[idx]["pdf"] }}">Download PDF</a></button>
            <button type="button" class="btn btn-default"><a href="{{ group_images_l[idx]["eps"] }}">Download EPS</a></button>
            <button type="button" class="btn btn-default"><a href="{{ group_images_l[idx]["jpg"] }}">Download JPG</a></button>
            <button type="button" class="btn btn-default"><a href="{{ group_images_l[idx]["png"] }}">Download PNG</a></button>
        </div>
    </div>
    {% endfor %}
</div>

<h2>Runs with This Configuration</h2>
<table class="tablesorter table table-striped">
    <thead>
        <tr role="row">
            <th>Run ID</th>
            <th>Run Date</th>
            <th>Best Food</th>
            <th>Best Moves</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Run ID</th>
            <th>Run Date</th>
            <th>Best Food</th>
            <th>Best Moves</th>
        </tr>
        <tr>
            <th colspan="4" class="ts-pager" data-column"0">
                <button type="button" class="btn first">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button type="button" class="btn prev">
                    <span class="glyphicon glyphicon-backward"></span>
                </button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next">
                    <span class="glyphicon glyphicon-forward"></span>
                </button>
                <button type="button" class="btn last">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <select class="pagesize input-mini" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <select class="pagenum input-mini" title="Select page number"></select>
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for curr_line in table_data %}
        {% if curr_line["debug"] %}
        <tr class="danger">
        {% else %}
        <tr>
        {% endif %}
            <td><a href="{{ url_for('plot_by_run_id', run_id=curr_line['id']) }}">{{ curr_line["id"] }}</a></td>
            <td>{{ curr_line["run_date"] }}</td>
            <td>{{ curr_line["food"] }}</td>
            <td>{{ curr_line["moves"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>


{% endblock %}

{% block footer_text %}
    Generated in {{ time_sec }} seconds.
{% endblock %}

{% block footer %}
    {{ super() }}
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.min.js') }}"></script>
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{
    url_for('static', filename='js/vendor/jquery.tablesorter.pager.min.js') }}"></script>

<script id="js">
$(function() {

  $.extend($.tablesorter.themes.bootstrap, {
    // these classes are added to the table. To see other table classes available,
    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
    table      : 'table',
    caption    : 'caption',
    header     : 'bootstrap-header', // give the header a gradient background
    footerRow  : '',
    footerCells: '',
    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
    sortNone   : 'bootstrap-icon-unsorted',
    sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
    sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
    active     : '', // applied when column is sorted
    hover      : '', // use custom css here - bootstrap class may not override it
    filterRow  : '', // filter row class
    even       : '', // odd row zebra striping
    odd        : ''  // even row zebra striping
  });

  // call the tablesorter plugin and apply the uitheme widget
  $("table").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : [ "uitheme", "zebra" ],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset"

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    },

    sortList : [[0,0]]
  })
  .tablesorterPager({

    // target the pager markup - see the HTML block below
    container: $(".ts-pager"),

    // target the pager page select dropdown - choose a page
    cssGoto  : ".pagenum",

    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,

    // output string - default is '{page}/{totalPages}';
    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

  });

});
</script>
{% endblock %}
